<section class="adm-weapon-sheet">
  {{#if isEditMode}}
    <div class="adm-weapon-edit sheet-body">
      <div class="adm-weapon-edit-head">
        <div class="adm-weapon-thumb" data-action="pick-img" data-tooltip="{{item.name}}">
          <img src="{{item.img}}" alt="{{item.name}}" />
        </div>

        <div class="adm-weapon-edit-title">
          <div class="adm-weapon-name-row">
            <input
              class="adm-weapon-name"
              name="name"
              type="text"
              value="{{item.name}}"
              style="flex:1; min-width:0;"
            />
            <label style="display:flex; align-items:center; gap:4px; white-space:nowrap;">
              <input type="checkbox" name="system.basic" {{#if system.basic}}checked{{/if}} />
              Базовый
            </label>
          </div>
        </div>
      </div>

{{> "systems/adm-daggerheart/templates/partials/statuses.hbs"}}

    </div>

  {{else}}
    <div class="adm-weapon-card sheet-body">
      <div class="adm-weapon-card-overlay">

        <div class="adm-weapon-view">
          <!-- left image -->
          <div class="adm-weapon-view-left">
            <img class="adm-weapon-view-img" src="{{item.img}}" alt="{{item.name}}">
          </div>

          <!-- right content -->
          <div class="adm-weapon-view-right">
            <div class="adm-weapon-line adm-weapon-titleline">
              <div class="adm-weapon-title">
                 {{item.name}}
              </div>
            </div>

            <div class="adm-weapon-line adm-weapon-summaryline">
              {{#if system.basic}}Базовый {{/if}}{{localize "DAGGERHEART.SECTIONS.STATUS"}}
            </div>
          </div>
        </div>

      </div>
    </div>
  {{/if}}
</section>
